<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCourse</servlet-name>
        <servlet-class>SaveCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllCourses</servlet-name>
        <servlet-class>ShowAllCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCourse</servlet-name>
        <servlet-class>ShowCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFaculty</servlet-name>
        <servlet-class>SaveFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllFaculty</servlet-name>
        <servlet-class>ShowAllFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBatch</servlet-name>
        <servlet-class>SaveBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllBatches</servlet-name>
        <servlet-class>ShowAllBatches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBatch</servlet-name>
        <servlet-class>ShowBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>DeleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBatch</servlet-name>
        <servlet-class>DeleteBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFaculty</servlet-name>
        <servlet-class>DeleteFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllFacultyAdmin</servlet-name>
        <servlet-class>ShowAllFacultyAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllBatchesAdmin</servlet-name>
        <servlet-class>ShowAllBatchesAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllCoursesAdmin</servlet-name>
        <servlet-class>ShowAllCoursesAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCourse</servlet-name>
        <url-pattern>/SaveCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllCourses</servlet-name>
        <url-pattern>/ShowAllCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCourse</servlet-name>
        <url-pattern>/ShowCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFaculty</servlet-name>
        <url-pattern>/SaveFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllFaculty</servlet-name>
        <url-pattern>/ShowAllFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBatch</servlet-name>
        <url-pattern>/SaveBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllBatches</servlet-name>
        <url-pattern>/ShowAllBatches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBatch</servlet-name>
        <url-pattern>/ShowBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/DeleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBatch</servlet-name>
        <url-pattern>/DeleteBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFaculty</servlet-name>
        <url-pattern>/DeleteFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllFacultyAdmin</servlet-name>
        <url-pattern>/ShowAllFacultyAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllBatchesAdmin</servlet-name>
        <url-pattern>/ShowAllBatchesAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllCoursesAdmin</servlet-name>
        <url-pattern>/ShowAllCoursesAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
